repos:
  # Other file formatting, plus common Git mistakes & text file standardization:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files # Don't accidentally commit giant files.
      - id: check-merge-conflict # Watch for lingering merge markers.
      - id: check-yaml # Validate all YAML files.
      - id: check-case-conflict # Avoid case sensitivity in file names.
      - id: end-of-file-fixer # Ensure there's a newline at EOF.
      - id: mixed-line-ending # Only newlines, no line-feeds.
      - id: trailing-whitespace # Remove trailing whitespace.

  ########################################################################################
  # Formatters: hooks that re-write Python and RST files
  ########################################################################################
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        types_or: [yaml]

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0 # Use the ref you want to point at
    hooks:
      - id: mdformat
        # Optionally add plugins
        additional_dependencies:
          - mdformat-myst

  ####################################################################################
  # Linters: hooks that check but don't alter files
  ####################################################################################

  # Check Github Actions
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

# Configuration for pre-commit.ci
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: main
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  submodules: false
